# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse/
*.pydevproject
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

# Files from Forge MDK
forge*changelog.txt

# Run folder
/run/logs/*.gz
/run/logs/*.log.gz
run/logs/*.gz
run/logs/debug-*.log.gz

.gradle/
build/
gradle-app.setting

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath
/logs/debug.log
/logs/latest.log
